NAKAMA_BINARY=
COCKROACH_BINARY=
COCKROACH_VERSION=25.1.10

NAKAMA_NODE_NAME=nakama1
NAKAMA_DATABASE_ADDRESS=root@127.0.0.1:26257
NAKAMA_LOG_LEVEL=DEBUG
NAKAMA_SESSION_TOKEN_EXPIRY_SEC=7200
NAKAMA_HTTP_PORT=7350
NAKAMA_CONSOLE_PORT=7351
NAKAMA_CONSOLE_USERNAME=admin
NAKAMA_CONSOLE_PASSWORD=password

COCKROACH_HOST=127.0.0.1
COCKROACH_SQL_PORT=26257
COCKROACH_HTTP_PORT=8080
COCKROACH_INSECURE=true
COCKROACH_CACHE=.25
COCKROACH_MAX_SQL_MEMORY=.25
